{% extends 'base.html' %}

{% block content %}

<h1>Mis Expensas</h1>

<table border="1">

    <tr>
        <th>Periodo</th>
        <th>Monto</th>
        <th>Vencimiento</th>
        <th>Estado</th>
    </tr>

    {% for expensa in expensas %}

    <tr>
        <td>{{ expensa.periodo }}</td>
        <td>{{ expensa.monto }}</td>
        <td>{{ expensa.fecha_vencimiento }}</td>

        <td>
            {% if expensa.pagada %}
                Pagada
            {% else %}
                Pendiente
            {% endif %}
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}
